@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
body{
    min-height: 100vh;
    color : white;
    background-image: linear-gradient(
    310deg,
    #ffd500 0%,
    #ff9100 13%,
    #ff4d4f 32%,
    #f00094 54%,
    #c619d2 77%,
    #7538fa 100%
    );
}
a{
    color : black;
}
body,input,button{
    font-family: Arial, Helvetica, sans-serif;
}
::placeholder{
    color : rgba(255, 255, 255, 0.564);
}
.container{
    width: 500px;
    margin: 30px auto;
    background-color: #00000021;
    border-radius: 15px;
    text-align: center;
    padding: 0 10px 10px;
    display: f;
    box-shadow:  5px 5px 15px #00000080;
}
.inputContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px 20px 20px 10px;
    margin-top: 50px;
    text-align: center;
    display: flex;
}
.inputContainer input{
    width: 55%;
    padding: 10px 15px ;
    outline: none;
    border: 1px solid purple;
    margin-right: 20px;
    background-color:transparent;
    border-radius: 20px;
    color : white;
}
.inputContainer input:focus{
    background-color: #e0a5e060;
}
.inputContainer button{
    padding: 10px 30px;
    border: 1px solid purple;
    color : white;
    cursor: pointer;
    border-radius: 25px;
    background-color: transparent; 
    transition: .3s;
}
.inputContainer button:hover{
    background-color: #e0a5e060;
}
.fa-brands{
    margin-right: 10px;
    font-size: 44px;
    color : #ffffff9d;
}
.userContainer{
    display: none;
}

.userAbout{
    display: flex;
    flex-direction: column;
    margin: -15px 0 0 0;
}
#userPfp{
    width : 250px;
    height: 280px;
    border-radius: 10px;
}
.userPosts{
    display: flex;
    justify-content: space-around;
    height: fit-content;
}
.userPosts div{
    margin: 0 10px;
    display: flex;
    flex-direction: column;
}
.userPosts div > p:nth-child(2){
    margin: 0;
}
.fullName{
    text-align: start;
    margin: 20px;
}
.bio{
    text-align: start;
    margin: 0 20px;
}
.joinDate{
    text-align: start;
    margin: 20px;
}
.story{
    margin: 10px 0 0;
    width: 90%;
}
.storiesStatues{
    font-size: 24px;
}
.PlaceHolder{
    font-size: 22px;
}


@media (max-width: 800px){
    .container{
        width: 90%;
    }
    .fa-brands{
        font-size: 35px;
    }
    #input{
        width: 60%;
    }
    button{
        margin-top: 20px;
        width: 200px;
    }
    ::placeholder{
        font-size: 12px;
    }
    #userPfp{
        height: 180px;
    }
    .userPosts div{
        margin: 0 5px;
    }
    .userAbout{
        font-size: 12px;
        margin: -10px 0 0 0;
    }
}